/*
   WORD SPACING
*/

.wsn { word-spacing: normal; }
.ws1 { word-spacing: 0.3em; }
.ws2 { word-spacing: -0.43em; } /* For eliminating space between inline-block elements */

@media screen and (min-width: 32em) {
  .wsn-s { word-spacing: normal; }
  .ws1-s { word-spacing: 0.3em; }
  .ws2-s { word-spacing: -0.43em; }
}

@media screen and (min-width:48em) {
  .wsn-m { word-spacing: normal; }
  .ws1-m { word-spacing: 0.3em; }
  .ws2-m { word-spacing: -0.43em; }
}

@media screen and (min-width: 96em) {
  .wsn-l { word-spacing: normal; }
  .ws1-l { word-spacing: 0.3em; }
  .ws2-l { word-spacing: -0.43em; }
}

